.chat-page {
	@lightGreen: #52B1A9;
	@darkGreen: #3F968F;
	@headerHeight: 70px;
	@chatInputHeight: 60px;

	.pg-body {
		min-height: 100vh;
		background-color: #fafafa;
		font-size: 16px;
		color: #687584;

		.pg-hdr {
			height: 70px;
		    line-height: 70px;
		    background: @darkGreen;
		    color: #fff;
		    font-size: 30px;
		    text-transform: capitalize;

			.hdr-cont {
				.container;	

				.hdr-row {
					.make-row();
				}			
			}
		}

		.chat-cont {
			.container;
			height: calc(~"100vh - "@headerHeight);
			background: #f2f2f2;

			.chat-row{
				.make-row();
				border: 1px solid #e1e1e1;
				position: relative;
				// max-width: 800px;
				// margin: 0 auto;

				.chat-list {
					.make-sm-column(4);
					padding: 10px 5px;
					border-right: 2px solid #e1e1e1;
					overflow-y: auto;
					cursor: pointer;

					.search {
						height: 50px;
						border-bottom: 2px solid #e1e1e1;
						padding-bottom: 10px;
						margin-bottom: 10px;

						input {
							height: 100%;
							width: 100%;
							padding: 5px;
							border: 1px solid rgba(104, 117, 131, .2);
							border-radius: 3px;
						}
					}

					.chat-itme-wrp {
					    padding: 10px;
					    background: #fff;
					    margin-bottom: 5px;
					    position: relative;
					    
					    &.active {
					    	font-weight: bold;

					    	&:before {
					    		content: ">";
					    		position: absolute;
					    		right: 5px;
					    	}
					    }
					}
				}

				.chat-panel-cont {
					.make-sm-column(8);
					padding: 10px 5px;

					.chat-panel {
						height: calc(~"100% - "@chatInputHeight);
						overflow-y: auto;

						.msg {
							margin-bottom: 15px;
						    max-width: 70%;
						    display: inline-block;
						    padding: 10px;
						    background: #fff;
						    border-radius: 5px;
						    line-height: 1;
						    box-shadow: 0px 3px 5px rgba(104, 117, 132, 0.4);
						}

						.msg-in {
							.msg;
							float: left;
						}
						.msg-out{
							.msg;
							float: right;
							color: #fff;
							background-color: @lightGreen; 
						}

						.left .conv {
						    display: inline-block;
						    padding: 5px;
						    background: #fff;
						    border-radius: 5px;
						    line-height: 1;
						}

						.right .conv {
						    display: inline-block;
						    padding: 5px;
						    background: #fff;
						    border-radius: 5px;
						    line-height: 1;
						    background-color: #52B1A9;
						    color: #fff;
						}
					}

					.chat-ip-wrp {
						height: @chatInputHeight;
						border-top: 2px solid #e1e1e1;
    					padding-top: 10px;

    					input {
    						height: 100%;
    						width: 100%;
    						padding: 5px;
    						border: 1px solid rgba(104, 117, 131, .2);
    						border-radius: 3px;
    					}
					}
				}

				.status-bar {
					background: #fafafa;
				    padding: 10px;
				    color: #C7425D;
				    border-bottom: 2px solid #e1e1e1;
				    transition: all ease 0.5s;
				    text-align: center;
				    font-weight: 600;
				    position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    z-index: 1;
				    display: none;
				}
			}
		}
	}

	.h100 {
		height: 100%;
	}
}